<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Electrical Engineering (wireless communication)</h1>
            <span>Tampere University</span>
            <span><address>Tampere, Finland</address><time>2016 to 2020</time></span>
        </header>
        <p>
            <em>Thesis: Realistic Vehicle Movement Models and Corresponding Radio Channel Parametrization for the Use of Positioning and Communications Studies</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc in Electrical and Electronic Engineering</h1>
            <span>Ahsanullah University of Science & Technology</span>
            <span><address>Dhaka, Bangladesh</address><time>2011 to 2015</time></span>
        </header>
    </article>
</section>
