<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Thesis Worker</h1>
            <span><address>Tampere, Finland</address><time>2019 to 2020</time></span>
        </header>
        <p>
            <u>"Realistic Vehicle Movement Models and Corresponding Radio Channel Parametrization for the Use of Positioning and Communications Studies"</u>
        </p>
        <p>Worked on different vehicle movement model algorithms and simulation scenarios for fitting radio channel parameters regarding positioning studies</p>
    </article>

    <article>
        <header>
            <h1>Executive Engineer</h1>
            <span><address>ACME laboratories Ltd, Dhaka, Bangladesh</address><time>2015 to 2016</time></span>
        </header>
        <p>Project engineer, Electrical Design</p>
    </article>
</section>
